.container {
  display: flex;
  width: 600px;
  border-radius: 22px;
  border: solid 2px var(--color-secondary);
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  padding: 28px;

  .custom-checkbox {
    input {
      display: none;
    }

    input + label::before {
      content: "";
      width: 24px;
      height: 24px;
      border-radius: 4px;
      border: solid 2px var(--color-secondary);
      display: inline-block;
    }

    input:checked + label:before {
      background-color: var(--color-secondary);
      background-image: url(../../../../assets/check.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .description {
    width: 100%;
    padding: 0 28px;
    font-weight: 500;
    font-size: 20px;
    color: var(--color-primary);
  }

  .description.checked {
    color: var(--color-secondary);
    text-decoration: line-through;
  }

  .material-symbols-outlined {
    background-color: transparent;
    color: var(--color-primary);
    font-size: 24px;
    font-weight: 700;
  }
}
